@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

body {
  font-family: 'Poppins', sans-serif;
}

#videoback{
  background-image: url("./assets/videoback/videoback.avif");
  background-position: center;
  background-size: cover;
}

@keyframes scrollUpDown {  0%, 100% { transform: translateY(0); }  50% { transform: translateY(-50%); }}